= form_for @student, html: {class: 'form-horizontal'} do |f|
  .form-group
    = f.label 'Фамилия', class: 'control-label col-sm-2'
    .col-sm-10
      = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label 'Имя', class: 'control-label col-sm-2'
    .col-sm-10
      = f.text_field :first_name, class: 'form-control'
  .form-group
    = f.label 'Отчество', class: 'control-label col-sm-2'
    .col-sm-10
      = f.text_field :middle_name, class: 'form-control'
  .form-group
    = f.label 'Курс', class: 'control-label col-sm-2'
    .col-sm-2
      = f.text_field :stage, class: 'form-control'
    .col-sm-2
      = f.label '', class: 'checkbox-inline'
        = f.check_box :stage_leader
        = f.label 'староста'
    = f.label 'Группа', class: 'control-label col-sm-2'
    .col-sm-2
      = f.text_field :group, class: 'form-control'
    .col-sm-2
      = f.label '', class: 'checkbox-inline'
        = f.check_box :group_leader
        = f.label 'староста'
  .form-group
    = f.label 'Пол', class: 'control-label col-sm-2'
    .col-sm-3
      = f.label '', class: 'radio-inline'
        = f.radio_button :sex, 'мужской'
        = f.label 'Мужской'
      = f.label '', class: 'radio-inline'
        = f.radio_button :sex, 'женский'
        = f.label 'Женский'
  .form-group
    = f.label 'Дата рождения', class: 'control-label col-sm-2'
    .col-sm-2
      = f.date_field :birth_date, class: 'form-control'
  .form-group
    = f.label 'Код региона', class: 'control-label col-sm-2'
    .col-sm-1
      = f.number_field :region_code, class: 'form-control'
  .form-group
    = f.label 'Дата начала обучения', class: 'control-label col-sm-2'
    .col-sm-2
      = f.date_field :education_start_date, class: 'form-control'
  .form-group
    = f.label 'Место начала обучения', class: 'control-label col-sm-2'
    .col-sm-10
      = f.text_field :education_start_place, class: 'form-control'
  .form-group
    = f.label 'Льгота', class: 'control-label col-sm-2'
    .col-sm-10
      = f.text_field :benefit_type, class: 'form-control'
  .form-group
    = f.label 'Заказчик целевой подготовки', class: 'control-label col-sm-2'
    .col-sm-10
      = f.select :target_organization_id, option_for_select = @target_organizations.collect{|to| [to.name, to.id]}, {include_blank: ''}, class: 'form-control'
  .form-group
    = f.label 'Источник финансирования', class: 'control-label col-sm-2'
    .col-sm-10
      = f.select :source, option_for_select = ['федеральный бюджет', 'средства физических и юридических лиц', 'бюджет субъекта РФ', 'местный бюджет'], {include_blank: ''}, class: 'form-control'
  .form-group
    = f.label 'Гражданство', class: 'control-label col-sm-2'
    .col-sm-10
      = f.select :sitizenship, option_for_select = ['Российская Федерация',
                                                'Республика Абхазия',
                                                'Австралийский Союз',
                                                'Австрийская Республика',
                                                'Азербайджанская Республика',
                                                'автономная территория Финляндии',
                                                'Республика Албания',
                                                'Алжирская Народная Демократическая Республика',
                                                'заморская территория Великобритании',
                                                'Республика Ангола',
                                                'Княжество Андорра',
                                                'Антигуа и Барбуда',
                                                'Аргентинская Республика',
                                                'Республика Армения',
                                                'Аруба',
                                                'Исламская Республика Афганистан',
                                                'Содружество Багамских Островов',
                                                'Народная Республика Бангладеш',
                                                'Барбадос',
                                                'Королевство Бахрейн',
                                                'Белиз',
                                                'Республика Беларусь',
                                                'Королевство Бельгия',
                                                'Республика Бенин',
                                                'Бермудские острова',
                                                'Республика Болгария',
                                                'Многонациональное Государство Боливия',
                                                'Бонэйр',
                                                'Босния и Герцеговина',
                                                'Республика Ботсвана',
                                                'Федеративная Республика Бразилия',
                                                'Государство Бруней-Даруссалам',
                                                'Буркина-Фасо',
                                                'Республика Бурунди',
                                                'Королевство Бутан',
                                                'Республика Вануату',
                                                'Государство-город Ватикан',
                                                'Соединённое Королевство Великобритании и Северной Ирландии',
                                                'Венгрия',
                                                'Боливарианская Республика Венесуэла',
                                                'Американские Виргинские острова',
                                                'Британские Виргинские Острова',
                                                'Демократическая Республика Восточный Тимор',
                                                'Социалистическая Республика Вьетнам',
                                                'Габонская Республика',
                                                'Республика Гаити',
                                                'Кооперативная Республика Гайана',
                                                'Республика Гамбия',
                                                'Республика Гана',
                                                'заморский регион Франции',
                                                'Республика Гватемала',
                                                'Французская Гвиана',
                                                'Гвинейская Республика',
                                                'Республика Гвинея-Бисау',
                                                'Федеративная Республика Германия',
                                                'коронная земля Великобритании',
                                                'заморская территория Великобритании',
                                                'Республика Гондурас',
                                                'Гонконг',
                                                'Гренада',
                                                'Гренландия',
                                                'Греческая Республика',
                                                'Грузия',
                                                'Гуам',
                                                'Королевство Дания',
                                                'Джерси',
                                                'Республика Джибути',
                                                'Содружество Доминики',
                                                'Доминиканская Республика',
                                                'Донецкая Народная Республика',
                                                'Арабская Республика Египет',
                                                'Республика Замбия',
                                                'Республика Зимбабве',
                                                'Государство Израиль',
                                                'Республика Индия',
                                                'Республика Индонезия',
                                                'Иорданское Хашимитское Королевство',
                                                'Республика Ирак',
                                                'Исламская Республика Иран',
                                                'Ирландия',
                                                'Исландия',
                                                'Королевство Испания',
                                                'Итальянская Республика',
                                                'Йеменская Республика',
                                                'Республика Кабо-Верде',
                                                'Республика Казахстан',
                                                'Острова Кайман',
                                                'Королевство Камбоджа',
                                                'Республика Камерун',
                                                'Канада',
                                                'Государство Катар',
                                                'Республика Кения',
                                                'Республика Кипр',
                                                'Северный Кипр',
                                                'Киргизская Республика или Кыргызстан',
                                                'Республика Кирибати',
                                                'Китайская Народная Республика',
                                                'Республика Колумбия',
                                                'Союз Коморских Островов',
                                                'Республика Конго',
                                                'Корейская Народно-Демократическая Республика',
                                                'Республика Корея',
                                                'Республика Косово',
                                                'Республика Коста-Рика',
                                                'Республика Кот-д’Ивуар. До 1986 года: Берег Слоновой Кости',
                                                'Республика Куба',
                                                'Государство Кувейт',
                                                'Кука острова',
                                                'Кюрасао',
                                                'Лаосская Народно-Демократическая Республика',
                                                'Латвийская Республика',
                                                'Королевство Лесото',
                                                'Республика Либерия',
                                                'Ливанская Республика',
                                                'Государство Ливия',
                                                'Литовская Республика',
                                                'Княжество Лихтенштейн',
                                                'Луганская Народная Республика',
                                                'Великое Герцогство Люксембург',
                                                'Республика Маврикий',
                                                'Исламская Республика Мавритания',
                                                'Республика Мадагаскар',
                                                'заморский регион Франции',
                                                'Специальный административный район Аомынь Китайской Народной Республики',
                                                'Республика Македония',
                                                'Республика Малави',
                                                'Малайзия',
                                                'Республика Мали',
                                                'Мальдивская Республика',
                                                'Республика Мальта',
                                                'Королевство Марокко',
                                                'заморский регион Франции',
                                                'Республика Маршалловы Острова',
                                                'Мексиканские Соединённые Штаты',
                                                'Федеративные Штаты Микронезии',
                                                'Республика Мозамбик',
                                                'Республика Молдова',
                                                'Княжество Монако',
                                                'Монголия',
                                                'Монсеррат',
                                                'Союз Мьянма',
                                                'Остров Мэн',
                                                'Нагорно-Карабахская республика',
                                                'Республика Намибия',
                                                'Республика Науру',
                                                'Федеративная Демократическая Республика Непал',
                                                'Республика Нигер',
                                                'Федеративная Республика Нигерия',
                                                'Королевство Нидерландов',
                                                'Республика Никарагуа',
                                                'Ниуэ',
                                                'Новая Зеландия',
                                                'Новая Каледония',
                                                'Королевство Норвегия',
                                                'Норфолк остров',
                                                'Объединенные Арабские Эмираты',
                                                'Султанат Оман',
                                                'Исламская Республика Пакистан',
                                                'Республика Палау',
                                                'Государство Палестина',
                                                'Республика Панама',
                                                'Новая Гвинея',
                                                'Республика Парагвай',
                                                'Республика Перу',
                                                'Питкэрн острова',
                                                'Полинезия Французская',
                                                'Республика Польша',
                                                'Португальская Республика',
                                                'Приднестровская Молдавская Республика',
                                                'Содружество Пуэрто-Рико',
                                                'Реюньон',
                                                'Острова Рождества',
                                                'Республика Руанда',
                                                'Румыния',
                                                'Саба',
                                                'Республика Эль-Сальвадор',
                                                'Независимое Государство Самоа',
                                                'Американское Самоа',
                                                'Республика Сан-Марино',
                                                'Демократическая Республика Сан-Томе и Принсипи',
                                                'Королевство Саудовская Аравия',
                                                'Сахарская Арабская Демократическая Республика',
                                                'Королевство Свазиленд',
                                                'Острова Святой Елены, Вознесения и Тристан-да-Кунья',
                                                'Содружество Северных Марианских Островов (США)',
                                                'Республика Сейшельские Острова',
                                                'Республика Сенегал',
                                                'Сен-Бертелеми',
                                                'Сен-Мартен',
                                                'Сен-Пьер и Микелон',
                                                'Сент-Винсент и Гренадины',
                                                'Федерация Сент-Китс и Невис',
                                                'Сент-Люсия',
                                                'Республика Сербия',
                                                'Республика Сингапур',
                                                'Синт-Мартен',
                                                'Синт-Эстатиус',
                                                'Сирийская Арабская Республика',
                                                'Словацкая Республика',
                                                'Республика Словения',
                                                'Соединённые Штаты Америки',
                                                'Соломоновы Острова',
                                                'Федеративная Республика Сомали',
                                                'Республика Судан',
                                                'Республика Суринам',
                                                'Республика Сьерра-Леоне',
                                                'Республика Таджикистан',
                                                'Королевство Таиланд',
                                                'Объединённая Республика Танзания',
                                                'Острова Тёркс и Кайкос',
                                                'Тоголезская Республика',
                                                'Токелау',
                                                'Королевство Тонга',
                                                'Республика Тринидад и Тобаго',
                                                'Тувалу',
                                                'Тунисская Республика',
                                                'Туркмения',
                                                'Турецкая Республика',
                                                'Республика Уганда',
                                                'Республика Узбекистан',
                                                'Украина',
                                                'Территория островов Уоллис и Футуна',
                                                'Восточная Республика Уругвай',
                                                'Фареры',
                                                'Республика Фиджи',
                                                'Республика Филиппины',
                                                'Финляндская Республика',
                                                'Фолклендские острова',
                                                'Французская Республика',
                                                'Республика Хорватия',
                                                'Центральноафриканская Республика',
                                                'Республика Чад',
                                                'Черногория',
                                                'Чешская Республика',
                                                'Республика Чили',
                                                'Швейцарская Конфедерация',
                                                'Королевство Швеция',
                                                'Демократическая Социалистическая Республика Шри-Ланка',
                                                'Республика Эквадор',
                                                'Республика Экваториальная Гвинея',
                                                'Государство Эритрея',
                                                'Эстонская Республика',
                                                'Федеративная Демократическая Республика Эфиопия',
                                                'Южная Осетия',
                                                'Южно-Африканская Республика',
                                                'Республика Южный Судан',
                                                'Ямайка',
                                                'Япония'], {include_blank: ''}, class: 'form-control'
  .form-group
    = f.label 'Образовательная программа', class: 'control-label col-sm-2'
    .col-sm-10
      = f.select :educational_program_id, option_for_select = @educational_programs.collect{|ep| ["#{ep.name} (#{ep.standart})", ep.id]}, {include_blank: ''}, class: 'form-control'
  - if action_name == 'new'
    .form-group
      = f.label 'Статус', class: 'control-label col-sm-2'
      .col-sm-4
        = f.select :status_id, option_for_select = @statuses.collect{|s| [s.name, s.id]}, {include_blank: ''}, class: 'form-control'
  .form-group
    = f.submit 'Отправить', class: 'btn btn-primary'